# C# ignores
bin/
obj/
*.user
*.suo
*.cache
*.log
*.tmp
*.temp
*.swp
*.bak
*.orig
*.rej
*.DS_Store
Thumbs.db
.vscode/
.idea/

# Angular ignores
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
coverage/
.nyc_output/
.cache/
.parcel-cache/
.next/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.serverless/
.terraform/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase/
.firestore/

# Playwright ignores
test-results/
playwright-report/
playwright/.cache/
screenshots/
videos/
allure-results/
html-report/

# General ignores
*.log
*.tmp
*.swp
*.bak
*.orig
*.rej
.DS_Store
Thumbs.db
.vscode/settings.json
.idea/
*.iml
*.ipr
*.iws
*.tmp
*.temp
*.swp
*.bak
*.orig
*.rej
.DS_Store
Thumbs.db
/.vs
/2 - Authentication/keycloak-26.4.2/data/h2
/2 - Authentication/keycloak-26.4.2/lib/lib
/2 - Authentication/keycloak-26.4.2/lib/quarkus
/2 - Authentication/keycloak-26.4.2/lib
/2 - Authentication/keycloak-26.4.2.zip
/3 - Backend/.vs
/3 - Backend/Api/upload/foto
