<div class="container-fluid content-wrapper">
  <h1 class="page-title">Modals (Using Material Dialogs)</h1>

  <div class="row">
    <div class="col-sm-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <p class="card-description">Create new account</p>
          <button type="button" class="open-button" (click)="openRegisterModal()">Open Modal</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5">
      <div class="card">
        <div class="card-body">
          <p class="card-description">Sign in</p>
          <button type="button" class="open-button" (click)="openSignInModal()">Open Modal</button>
        </div>
      </div>
    </div>
  </div>
</div>
