.btn-procurar {
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
}

.btn-loading {
  position: absolute;
  right: 5px;
  top: 5px;
  white-space: nowrap;
}

.input-group {
  padding: 0;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1 !important;
  border-color: rgb(203 213 225 / 1) !important;
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / 1) !important;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05) !important;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  --bs-bg-opacity: 1 !important;
  background-color: rgba(255, 255, 255, 1) !important;
  border-color: var(--color-secondary-40);
  border-radius: 8px !important;
  padding: 7px 16px 6px !important;

  .form-control {
    border: 0;
    background-color: transparent;
  }
}

.input-group-append {
  width: 36px;
}
