<div class="container-fluid content-wrapper">
  <h1 class="page-title">Alerts (Using Material Dialogs)</h1>

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">Basic example</p>
          <button type="button" class="open-button" (click)="basicAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">A title with a text below</p>
          <button type="button" class="open-button" (click)="textAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">A success message</p>
          <button type="button" class="open-button" (click)="iconAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">A success message with an overflow icon</p>
          <button type="button" class="open-button" (click)="overflowIconSuccessAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">An error message with an overflow icon</p>
          <button type="button" class="open-button" (click)="overflowIconErrorAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">A message with a function attached to the OK button</p>
          <button type="button" class="open-button" (click)="optionsAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">A message with functions attached to both buttons</p>
          <button type="button" class="open-button" (click)="canceledAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">A message with auto close timer set to 2 seconds</p>
          <button type="button" class="open-button" (click)="timedAlert()">Try</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <p class="card-description">Modal window with input field</p>
          <button type="button" class="open-button" (click)="inputAlert()">Try</button>
        </div>
      </div>
    </div>
  </div>
</div>
